@model IEnumerable<GezenKitap.DATA.Entities.Order>
@{
    ViewBag.Title = "Cart";
}

<h2>Sepetiniz</h2>

<div class="container">
    <div class="row" style="margin-top:50px;">
        <table class="table table-hover table-bordered" style="vertical-align:middle; text-align:center">
            <thead>
                <tr>
                    <th style="text-align:center;">İptal Et</th>
                    <th style="text-align:center;">Kitap Görseli</th>
                    <th style="text-align:center;">Kitap Adı</th>
                    <th style="text-align:center;">Kitap Kredisi</th>
                </tr>
            </thead>
            <tbody>
                @{
                    decimal toplamTutar = 0;
                    var db = Model;
                    foreach (var item in Model)
                    {
                        toplamTutar += item.TotalAmount;
                        <tr>
                            <td style="line-height:120px;">
                                <a href="@Url.Action("RemoveFromCart","Shopping", new { id= item.OrderID })" style="font-size:30px;">
                                    <span class="glyphicon glyphicon-trash" style="color:red;"></span>
                                </a>
                            </td>
                            <td style="line-height:100px;">
                                <img class="img-rounded" style="height:100px" src="@Url.Content(item.Book.ImageUrl)" alt="@Url.Content(item.Book.AltText)" />

                            </td>
                            <td style="line-height:100px;">
                                @item.Book.BookName
                            </td>
                            <td style="line-height:100px;">
                                @string.Format("{0:C2}", item.TotalAmount)
                            </td>
                            @*<td style="line-height:100px;">
                                    @item.Quantity Adet (@item.Product.UnitWeight @item.Product.QuantityPerUnit)
                                </td>
                                <td>

                                    @using (Html.BeginForm("UpdateQuantity", "Shopping", new { id = item.OrderDetailID }, FormMethod.Post, new { @style = "margin-top:50px;" }))
                                    {
                                        <input type="number" name="quantity" value="@item.Quantity" min="1" max="@item.Product.UnitsInStock" />
                                        <button type="submit">
                                            <span class="glyphicon glyphicon-ok-sign" style="color:lightseagreen;"></span>
                                        </button>
                                    }

                                </td>
                                <td style="line-height:100px;">
                                    <a href="@Url.Action("AddToWishlistFromCart","Shopping", new { id = item.OrderDetailID })">
                                        <span class="glyphicon glyphicon-list-alt" style="color:deeppink;"></span>
                                    </a>
                                </td>*@
                        </tr>
                    }
                }
                <tr></tr>
            </tbody>
        </table>
    </div>
</div>


@{
    if (Model.ToList().Count == 0)
    {
        <span class="lead">
            Sepetiniz Boş!
        </span>
    }
    else
    {
        <span>
            <b>
                Ödenmesi gereken toplam tutar = @string.Format("{0:C2}", toplamTutar)
            </b>
        </span>

        @Html.ActionLink("Siparişi Tamamla", "GoToPayment", "Shopping", null, new { @class = "btn btn-success", @style = "float:right;" })
    }


}
